.button {
    display: inline-block;
   
    border-radius: 5px;
    width: 148px;
    text-align: center;
    font-size: 2vh;
    padding: 1.3vh;
    margin: 1vh;
    cursor:pointer;
    transition: all 0.2s;

}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border: none;
}

.primary:hover {
    background-color: var(--primary);
}

.ghost {
    color: var(--black);
    background: none;
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    color: var(--white);
    background-color: var(--primary);
}

.primary svg,
 .ghost:hover svg {
    fill: var(--white);
    
}

.arrow{
    display: inline-block;
    margin-left: 1vh;
    width: .8vh;
}

.down{
    transform: rotate(90deg) ;
    transition: all 0.2s;
}