.h1{
    font-size: 26px;
    font-weight: 500;
    line-height: normal; 
    margin: 0;
}  

.h2{
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}   

.h3{
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}
