.default {
    margin:0;
}

.s {
    font-size: 14px;
    line-height: 24px; 
    /* margin: 12px 0 57px 0; */
}
.m{
    font-size: 16px;
    line-height: 24px; 
    /* margin: 45px 0 14px 0; */
}
.xl {
    font-size: 18px;
    line-height: 29px;
    /* margin: 20px 0 42px 0; */
}