* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	color: (var(--black));
	background: #F5F6F8;
}

a {
	text-decoration: none;

	color: inherit;
}

:root {
	--black: #3B434E;	
	--gray-light: ##EBEBEB;
	--white: #FFF;
	--primary: #7653FC;
	--pimary-hover: #6846f0;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;

}